.not-found {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

}

.h1 {
    font-size: 72px;
    color: #f44336;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 20px 0;
}

a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}