.book-list {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    padding: 70px;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

/* Book */
img {
    width: 300px;
    height: 300px;
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.book-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.button:hover {
    background-color: rgb(46, 39, 145);
    color: white;
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

.search {
    padding-top: 110px;
}

.form {
    display: flex;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
}

.searchInput {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}

.searchInput:focus {
    border: 5px solid #29435f;
}

.btn {
    padding: 10px 20px;
    background-color: #29435f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.img {
    height: 20px;
    width: 20px;
}

.no-articles {
    color: rgb(71, 15, 15);
}